@include mobile {
    .footer {
        width: 100%;
        color: $font-color;
        padding: 20px;
        text-align: center;
        // background: rgb(243, 243, 243);
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
        position: absolute;
        bottom: 0;
    }
}