/*
    COLORS
*/
:root {
  --font-color: #2e2e2e;
  --bg-color: #fff;
}
$primary-color: #f20530;
$secondary-color: #1c1c1c;
$shadow-color: rgba(0, 0, 0, 0.2);

/*
    FONT WEIGHT
*/
$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
  "bolder": 700,
);

/*
    BORDER RADIUS
*/
$border-radius: 7px;

/*
    FONT SIZE
*/
$font-size: (
  "regular": 1rem,
  "medium": 2rem,
  "big": 3rem,
  "bigger": 4rem,
);

/*
    RESPONSIVE
*/

$desktop: 768px;
$mobile: 320px;

/*
    FONT CHANGE
*/

@function weight($type) {
  @return map-get($font-weight, $type);
}

@function size($type) {
  @return map-get($font-size, $type);
}
