/*
    Extrict Order
        1. Resets
        2. Variables
        3. Mixins
        4. Up to you 
*/

@import 'resets';
@import 'variables';
@import 'mixins';

@import 'nav';
@import 'header';
@import 'projects';
@import 'information';
@import 'contact';
@import 'footer';

@import 'loader';
@import 'switch';


/*
    GENERAL
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    // color: white;
}

a {
    color: $font-color;
}

body {
    background: $bg-color;
}

span {
    color: $primary-color;
}